<%= render 'partials/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-3 row-space-4">
      <%= link_to "プロフィールを確認する", user_path(current_user), class: "btn btn-success btn-full" %>
    </div>

    <div class="col-md-9">
      <div class="panel panel-defaule">
        <div class="panel-heading">プロフィール編集</div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
            <%= render 'partials/devise_error_message' %>

            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email", class: 'form-control', id: "email" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, placeholder: "電話番号", class: 'form-control', id: "phone_number" %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, rows: 5, cols: 25,  laceholder: "自己紹介文", class: 'form-control', id: "description" %>
            </div>

            <div class="form-group">
              <%= f.label :新しいパスワード %> <i>(変更しない場合は空欄で構いません)</i><br />
              <%= f.password_field :new_password, autocomplete: "off", class: 'form-control', id: "new_password" %>
            </div>

            <div class="form-group">
              <%= f.label :新しいパスワードの確認 %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', id: "password_confirmation" %>
            </div>
            <div class="actions">
              <%= f.submit "プロフィールを更新", :class => "btn btn-primary", id: "submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
