= render 'partials/navbar'
.container
  .col-md-3
    = render 'partials/verticalnavbar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        .text-center
          %span.title-size-normal 住所の編集
      .panel-body
        = simple_form_for @listing do |f|
          .row
            .col-md-12
              .form-group
                = f.input :address, label: "住所", class: "form-control", hint: "例: 東京都港区六本木６丁目１１−１"
          .actions
            = f.button :submit, "更新", class: "btn btn-primary"
