= render 'partials/navbar'
.container
  .col-md-3
    = render 'partials/verticalnavbar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        .text-center
          %span.title-size-normal リスティング内容の編集
      .panel-body
        = simple_form_for @listing do |f|
          .row
            .col-md-12
              .form-group
                = f.input :listing_title, label: "タイトル",  class: "form-control"
          .row
            .col-md-12
              .form-group
                = f.input :listing_content, label: "内容", as: :text, class: "form-control"
          .actions
            = f.button :submit, "更新", class: "btn btn-primary"
