<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="title-size-normal">リスティング内容の編集</span>
				</div>
			</div>

			<div class="panel-body">

				<%= simple_form_for @listing do |f| %>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= f.input :listing_title, label: "タイトル",  class: "form-control" %>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<%= f.input :listing_content, label: "内容", as: :text, class: "form-control" %>
							</div>
						</div>
					</div>

					<div class="actions">
						<%= f.button :submit, "更新", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
