<%= render 'partials/navbar' %>

<div class="container">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="title-size-normal">リスティング一覧</span>
				</div>
			</div>
			<ul class="ul-unstyled">
				<% if @listings.nil? %>
					<div class="text-center">
						<p>リスティングはありません。</p>
						<%= link_to "ホストになる", new_listing_path, class: "btn btn-success" %>
					</div>
				<% else %>
					<% @listings.each do |listing| %>
						<li class="panel-body">
							<div class="row-table">
								<div class="col-md-3 col-sm-3 col-middle row-space-2">
									<div class="panel-list-img text-center">
										<%= image_tag listing.photos[0].image.url(:medium) if listing.photos.length > 0  %>
									</div>
								</div>

								<div class="col-sm-7 col-lg-7 col-middle row-space-2">
									<span class="listing-title"><%= listing.listing_title %></span>
								</div>
								<div class="col-md-3 col-sm-3 col-middle row-space-1">
									<%= link_to "編集", manage_listing_basics_path(listing), class: "btn btn-primary pull-right" %>
								</div>
							</div>
						</li>
					<% end %>
					<div class="text-center">
						<%= link_to "リスティングを追加する", new_listing_path, class: "btn btn-success" %>
					</div>
				<% end %>
			</ul>
		</div>
	</div>
</div>
