<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="listing-photo-edit">リスティング写真の編集</span>
				</div>
			</div>

			<div class="panel-body">
				<%= form_for @photo, html:{multipart: true,class:"dropzone", id:"my-dropzone" } do |f| %>

					<%= f.hidden_field :listing_id, value: @listing.id %>

					<div class="dz-message needsclick">
						<h3>ファイルをここにドロップしてください。</h3>
						<strong>アップロードするにはここをクリックしてください</strong>
					</div>

					<div class="fallback">
						<%= f.file_field :image %>
						<%= f.submit "Upload image" %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>

<!-- dropzone.js -->
<script type="text/javascript">
	$(function () {
		Dropzone.autoDiscover = false;
		//call create action of photos_controller.rb
		$("#my-dropzone").dropzone({
			maxFilesize: 200,	// MB
			addRemoveLinks: true,
			paramName: 'photo[image]',
			success: function(file, response) {
				$(file.previewElement).addClass('dz-success');
				$(file.previewElement).find('.dz-remove').attr('id', response.photoId);
			},
			removedfile: function(file) {
				let id = $(file.previewTemplate).find('.dz-remove').attr('id');
				$.ajax({
					type: 'DELETE',
					url: "/photos/" + id,
					success: function(data) {
						console.log(data.message);
					}
				});

				let previewElement;
				return (previewElement = file.previewElement) != null ?
					(previewElement.parentNode.removeChild(file.previewElement)) : (void 0);
			},
			// init executed at first when Page loaded
			init: function() {
				//this equal dropzone
				let me = this;

				me.on("complete", function(file) {
					$(file.previewTemplate).find('.dz-remove').text("削除する");
				});
			  	//call list function in photos_controller.rb with get method
				$.ajax({
					type: "GET",
					url: "/photos/list",
					data: {'listing_id': <%= @listing.id %>},
					dataType: 'json',
					success: function(data){
						$.each(data.images, function(key, value) {
							if (data.images != undefined && data.images.length > 0) {
								me.emit("addedfile", value);
								me.emit("thumbnail", value, value.src);
								me.emit("complete", value);
								$(value._removeLink).attr("id", value.id);
							}
						});
					}
				});
			}
		});
	});
</script>