<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="title-size-normal">料金の設定</span>
				</div>
			</div>

			<div class="panel-body">

				<%= simple_form_for @listing do |f| %>

					<div class="row">
					  <div class="col-md-4">
						<div class="form-group">
							<%= f.input :price_pernight, label: "一泊あたりの料金", as: :integer, hint: "例: 1,000円", required: true, class: "form-control" %>
						</div>
					  </div>
					</div>

					<div class="actions">
						<%= f.submit "更新", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
