<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span style="font-size:24px;">料金の設定</span>
				</div>
			</div>

			<div class="panel-body">

				<%= form_for @listing do |f| %>

					<div class="row">
					  <div class="col-md-4">
						<div class="form-group">
						  <label>一泊あたりの料金</label>
						  <div class="input-group">
							<div class="input-group-addon">円</div>
							<%= f.text_field :price_pernight, placeholder: "例: 1,000", class: "form-control" %>
						  </div>
						</div>
					  </div>
					</div>

					<div class="actions">
						<%= f.submit "更新", class: "btn btn-success" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>