<%= render 'partials/navbar' %>
<div class="container">
	<div class="col-md-3">
		<%= render 'partials/verticalnavbar'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-center">
					<span class="title-size-normal">公開する</span>
				</div>
			</div>

			<div class="panel-body">

				<%= form_for @listing do |f| %>

					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<%= f.select :active, [["公開する","true"], ["非公開にする","false"]], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
							</div>
						</div>
					</div>

					<div class="actions">
						<%= f.submit "更新", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
