= render 'partials/navbar'
.container
  .col-md-3
    = render 'partials/verticalnavbar'
  .col-md-9
    .panel.panel-default
      .panel-heading
        .text-center
          %span.title-size-normal 公開する
      .panel-body
        = simple_form_for @listing do |f|
          .row
            .col-md-4
              .form-group
                = f.input :active, label: "公開設定", collection: [["公開する", true], ["非公開にする", false]], required: true, prompt: "選択してください", class: "form-control"
          .actions
            = f.submit "更新", class: "btn btn-primary"
